# Ignore Python virtual environment
env/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files and temporary files
*.log
*.tmp

# Ignore output directories
Results/
